@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/openSans/OpenSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/openSans/OpenSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/openSans/OpenSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/openSans/OpenSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/openSans/OpenSans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/openSans/OpenSans-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/montserrat/Montserrat-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/montserrat/Montserrat-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/montserrat/Montserrat-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
}
* {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.contact-adress:hover, .contact-contacts:hover, .contact-add:hover, #contact-section .main-contant .contact-add, #contact-section .main-contant .contact-contacts, #contact-section .main-contant .contact-adress, #contact-section .main-contant .contact-map, #contact-section .main-contant {
  border: 1px solid #c0c0c0;
}

footer, section .container .nav-block, section .container .posts-section .posts-block .post-main-page .row .row-description .description, section .container .posts-section .posts-block .post-main-page .row .row-description .author .author-comments, section .container .posts-section .posts-block .post-main-page .row .row-description .author, section .container .posts-section .posts-block .post-main-page .row, section .container .posts-section, section .container, section, header i, header nav ul, header nav .logo, header nav, header .nav-slider, header, .posts-interesting .post-interesting .post-interesting-bottom, .contact-map, .contact-adress, .contact-contacts, .contact-add {
  display: flex;
  justify-content: center;
  align-items: center;
}

.yandex-map {
  height: 100%;
  width: 100% !important;
}

.widget-block-title {
  padding: 0 !important;
  width: 100% !important;
}

#contact-section {
  width: 100vw;
  min-height: 100vh;
}
#contact-section .main-contant {
  position: relative;
  z-index: 0;
  width: 1000px;
  height: 1000px;
  border-radius: 5px;
  box-shadow: 0 0 30px rgb(189, 189, 189);
}
#contact-section .main-contant .contact-map {
  position: absolute;
  z-index: 0;
  width: 50%;
  height: 70%;
  border-top: none;
  border-left: none;
}
#contact-section .main-contant .contact-adress {
  position: absolute;
  border-right: none;
  border-top: none;
  width: 50%;
  height: 40%;
  top: 0;
  right: 0;
}
#contact-section .main-contant .contact-contacts {
  position: absolute;
  border-bottom: none;
  border-left: none;
  width: 40%;
  height: 30%;
  bottom: 0;
  left: 0;
}
#contact-section .main-contant .contact-add {
  position: absolute;
  z-index: 1;
  height: 60%;
  width: 60%;
  bottom: 0;
  right: 0;
  border-right: none;
  border-bottom: none;
}
#contact-section .main-contant .title-block-contact {
  margin-bottom: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 10px 0;
  text-align: center;
  font-size: 24px;
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.5) 30%, #000 50%, rgba(0, 0, 0, 0.5) 70%);
  -webkit-mask-size: 200%;
  animation: wave 2s infinite;
  text-transform: uppercase;
  font-weight: 600;
  color: #6e6e6e;
}
#contact-section .main-contant .main-contant-contact {
  flex-direction: column;
  width: 80%;
  margin: 0;
  text-align: left;
}

@-webkit-keyframes wave {
  0% {
    -webkit-mask-position: 150%;
  }
  40% {
    -webkit-mask-position: -50%;
  }
}
.contact-map, .contact-adress, .contact-contacts, .contact-add {
  transition: all 0.2s;
  background-color: #fff;
  flex-direction: column;
  justify-content: start !important;
}

.contact-adress:hover, .contact-contacts:hover, .contact-add:hover {
  z-index: 2;
  transform: scale(1.02);
  box-shadow: 0 0 30px rgb(189, 189, 189);
}

.limit-line {
  display: inline-block;
  width: 100%;
  height: 2px;
  margin: 10px 0;
  background-color: #c0c0c0;
}

.text-span {
  width: 100%;
  display: block;
  text-align: left;
  display: flex;
  justify-content: start;
}

@media (max-width: 920px) {
  #contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 96vw !important;
    padding: 20px 0;
    margin-left: 2vw;
  }
  #contact-section .main-contant {
    position: static;
    z-index: 0;
    max-width: 98vw;
    height: auto;
    border-radius: 3px;
  }
  #contact-section .main-contant .contact-map {
    position: static;
    z-index: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  #contact-section .main-contant .contact-adress {
    position: static;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  #contact-section .main-contant .contact-contacts {
    position: static;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  #contact-section .main-contant .contact-add {
    position: static;
    z-index: 1;
    height: auto;
    width: 100%;
    max-width: 100%;
  }
  #contact-section .main-contant .title-block-contact {
    margin-bottom: 0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.5) 30%, #000 50%, rgba(0, 0, 0, 0.5) 70%);
    -webkit-mask-size: 200%;
    animation: wave 2s infinite;
    text-transform: uppercase;
    font-weight: 600;
    color: #6e6e6e;
  }
  #contact-section .main-contant .main-contant-contact {
    flex-direction: column;
    width: 80%;
    margin: 0;
    text-align: left;
  }
  .contact-map, .contact-adress, .contact-contacts, .contact-add {
    transition: transform 0.2s;
    min-height: 200px;
    background-color: #fff;
    flex-direction: column;
    justify-content: start !important;
  }
  .contact-adress:hover, .contact-contacts:hover, .contact-add:hover {
    z-index: 2;
    transform: scale(1);
    box-shadow: none;
  }
  .limit-line {
    height: 1px;
  }
}
footer, section .container .nav-block, section .container .posts-section .posts-block .post-main-page .row .row-description .description, section .container .posts-section .posts-block .post-main-page .row .row-description .author .author-comments, section .container .posts-section .posts-block .post-main-page .row .row-description .author, section .container .posts-section .posts-block .post-main-page .row, section .container .posts-section, section .container, section, header i, header nav ul, header nav .logo, header nav, header .nav-slider, header, .posts-interesting .post-interesting .post-interesting-bottom, .contact-map, .contact-adress, .contact-contacts, .contact-add {
  display: flex;
  justify-content: center;
  align-items: center;
}

.posts-interesting {
  position: relative;
  padding: 0 1vw;
  height: auto;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.posts-interesting .post-interesting {
  max-width: 18vw;
  margin: 0 10px 50px 10px;
}
.posts-interesting .post-interesting .post-interesting-img {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  height: 650px;
  box-shadow: 0 0 50px rgb(88, 88, 88);
}
.posts-interesting .post-interesting .post-interesting-img .hover-block {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  background-color: #03A9F4;
  border-radius: 5px;
  transition: all 0.4s;
}
.posts-interesting .post-interesting .post-interesting-img .hover-block:hover {
  opacity: 0.2;
}
.posts-interesting .post-interesting .post-interesting-img img {
  max-width: 100%;
  max-height: 100%;
}
.posts-interesting .post-interesting .post-interesting-bottom {
  position: relative;
  min-height: 72px;
  height: auto;
  width: 100%;
  padding: 37px 30px 0;
}
.posts-interesting .post-interesting .post-interesting-bottom .bottom-title {
  text-align: center;
  max-width: 90%;
  letter-spacing: 1.2px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: rgb(26, 36, 36);
}
.posts-interesting .post-interesting .post-interesting-bottom .bottom-line {
  width: 50px;
  height: 1px;
  position: absolute;
  bottom: -10%;
  background-color: #03A9F4;
  transition: all linear 0.2s;
}
.posts-interesting .post-interesting .post-interesting-bottom .bottom-line-active {
  width: 100px;
}

@media (max-width: 1921px) {
  .posts-interesting {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .posts-interesting .post-interesting {
    max-width: 23vw;
  }
}
@media (max-width: 1630px) {
  .posts-interesting {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .posts-interesting .post-interesting {
    max-width: 31vw;
  }
}
@media (max-width: 1150px) {
  .posts-interesting {
    grid-template-columns: 1fr 1fr;
  }
  .posts-interesting .post-interesting {
    max-width: 46vw;
  }
}
@media (max-width: 760px) {
  .posts-interesting {
    grid-template-columns: 1fr;
  }
  .posts-interesting .post-interesting {
    max-width: 90vw;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  height: auto;
  overflow-x: hidden;
}

.logo-text {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
  -webkit-mask-size: 200%;
  animation: wave 2s infinite;
}

@-webkit-keyframes wave {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #E4E4E4;
  border: solid 1px white;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #686868;
  border: solid 1px white;
  border-radius: 6px;
}

footer, section .container .nav-block, section .container .posts-section .posts-block .post-main-page .row .row-description .description, section .container .posts-section .posts-block .post-main-page .row .row-description .author .author-comments, section .container .posts-section .posts-block .post-main-page .row .row-description .author, section .container .posts-section .posts-block .post-main-page .row, section .container .posts-section, section .container, section, header i, header nav ul, header nav .logo, header nav, header .nav-slider, header, .contact-map, .contact-adress, .contact-contacts, .contact-add, .posts-interesting .post-interesting .post-interesting-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blueLineNav {
  position: absolute;
  bottom: 20%;
  width: 100%;
  max-width: 100%;
  height: 2px;
  background-color: #03A9F4;
}

.posts-new-li {
  white-space: nowrap;
  overflow: hidden;
}

header {
  width: 100vw;
  height: 100vh;
  position: relative;
}
header .nav-slider {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}
header .nav-slider .nav-slider-img {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 3s;
  inset: auto;
}
header .nav-slider .nav-slider-img-visible {
  opacity: 1;
}
header nav {
  text-transform: uppercase;
  justify-content: space-between;
  height: 75px;
  width: 100vw;
  padding: 0 40px;
  position: absolute;
  top: 0;
  z-index: 1;
  color: #FBFBFB;
  font-weight: 400;
}
header nav .logo {
  position: relative;
  color: white;
  font-size: 26px;
  height: 100%;
  font-weight: 600;
}
header nav .logo a {
  text-decoration: none;
  color: #FBFBFB;
}
header nav ul {
  width: 195px;
  justify-content: space-between;
  font-weight: 600;
}
header nav ul li {
  position: relative;
  list-style: none;
  font-size: 14px;
}
header nav ul li .blueLineNav {
  position: absolute;
  bottom: -20%;
  width: 100%;
  max-width: 100%;
  height: 2px;
  background-color: #03A9F4;
}
header nav ul li a {
  text-decoration: none;
  color: #FBFBFB;
  transition: all 0.2s;
}
header nav ul li a:hover {
  color: rgba(251, 251, 251, 0.6235294118);
}
header nav .main-menu-mobile {
  display: none;
}
header .blackRect {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.7);
}
header .main-header-content {
  color: #FBFBFB;
  position: relative;
  z-index: 0;
  text-align: center;
  padding: 0 40px;
  text-transform: uppercase;
}
header .main-header-content h1 {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 15px;
}
header .main-header-content h2 {
  font-size: 18px;
  font-weight: 300;
}
header i {
  height: 50px;
  width: 50px;
  position: absolute;
  left: auto;
  right: auto;
  bottom: 40px;
  cursor: pointer;
  animation: row-jump 3s infinite;
}
header i img {
  max-width: 60%;
  max-height: 60%;
}

section {
  padding: 96px;
  width: 100vw;
  background-color: white;
}
section .container {
  width: auto;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  height: auto;
}
section .container .posts-section {
  width: auto;
  flex-direction: column;
}
section .container .posts-section .posts-block {
  width: 924px;
  height: auto;
  padding: 0 15px;
}
section .container .posts-section .posts-block .post-main-page {
  margin-bottom: 30px;
  height: auto;
  width: 100%;
  border: 1px solid #EAEAEB;
  border-radius: 5px;
  padding: 1rem;
}
section .container .posts-section .posts-block .post-main-page .row {
  align-items: start;
  width: 100%;
  height: 100%;
}
section .container .posts-section .posts-block .post-main-page .row .row-image-wrapper {
  transition: all 0.4s;
  cursor: pointer;
  height: 100%;
  width: 32%;
  margin: 0 15px 0 0;
  padding: 5px;
  border: 1px solid #EAEAEB;
}
section .container .posts-section .posts-block .post-main-page .row .row-image-wrapper img {
  height: 100%;
  width: 100%;
}
section .container .posts-section .posts-block .post-main-page .row .row-image-wrapper:hover {
  background-color: #EAEAEB;
}
section .container .posts-section .posts-block .post-main-page .row .row-description {
  position: relative;
  width: 68%;
  height: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}
section .container .posts-section .posts-block .post-main-page .row .row-description .row-description-title {
  width: 100%;
  display: inline-block;
  line-height: 24px;
  padding-bottom: 8px;
  outline: none;
  text-decoration: none;
  font-size: 24px;
  color: #3C424F;
  font-weight: 400;
  flex: 1;
}
section .container .posts-section .posts-block .post-main-page .row .row-description .author {
  justify-content: space-between;
  width: 100%;
  line-height: 16px;
  font-size: 14px;
  color: #8D8EAE;
  font-weight: 400;
  flex: 1;
}
section .container .posts-section .posts-block .post-main-page .row .row-description .author .author-comments {
  width: 20px;
  height: 16px;
}
section .container .posts-section .posts-block .post-main-page .row .row-description .author .author-comments img {
  padding: 0;
  width: 14px;
  height: 14px;
}
section .container .posts-section .posts-block .post-main-page .row .row-description .author .author-comments span {
  padding: 0 0 0 5px;
}
section .container .posts-section .posts-block .post-main-page .row .row-description .author .author-info {
  width: 100%;
  margin-bottom: 8px;
}
section .container .posts-section .posts-block .post-main-page .row .row-description .author .author-info * {
  display: inline-block;
}
section .container .posts-section .posts-block .post-main-page .row .row-description .description {
  color: #6b7c93;
  font-size: 16px;
  font-weight: 400;
  flex: 10;
}
section .container .nav-block {
  position: sticky;
  top: 20px;
  margin-right: 15px;
  padding: 25px;
  justify-content: start;
  flex-direction: column;
  margin-left: 15px;
  height: auto;
  width: 308px;
  border: 1px solid #EAEAEB;
  border-radius: 5px;
  box-shadow: 0 0 30px #e0e0e0;
}
section .container .nav-block .main_search_element {
  margin-bottom: 16px;
}

footer {
  border-top: 1px solid #e8e8e8;
  background-color: #FAFAFA;
  padding: 40px 0;
}
footer .footer-content {
  color: #8D8EAE;
  font-size: 14px;
  font-weight: 400;
}

.widget-block {
  margin-top: 25px;
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}
.widget-block .posts-new-ul {
  height: auto;
  width: 100%;
}
.widget-block .posts-new-ul li {
  height: 41px;
  border-top: 1px solid #EAEAEB;
  padding: 8px 0;
  font-size: 16px;
}
.widget-block .posts-new-ul li a {
  color: #03A9F4;
}

.widget-block-title {
  color: #525458;
  font-size: 20px;
  margin-bottom: 16px;
  letter-spacing: 2px;
}

.widget-block-categories {
  margin-bottom: 0;
}

.input_of_searcher, .button_of_searcher {
  border: 1px solid #EAEAEB;
  border-radius: 5px;
}

.search-glass {
  height: 25px;
  width: 25px;
}

@keyframes row-jump {
  0% {
    bottom: 40px;
  }
  16% {
    bottom: 90px;
  }
  22% {
    bottom: 40px;
  }
  28% {
    bottom: 55px;
  }
  36% {
    bottom: 40px;
  }
}
@media (max-width: 1340px) {
  section {
    padding: 60px;
  }
  section .container {
    flex-direction: row;
    justify-content: start;
    align-items: start;
  }
  section .container .posts-section .posts-block {
    width: 60vw;
  }
  section .container .posts-section .posts-block .post-main-page {
    height: auto;
  }
  section .container .posts-section .posts-block .post-main-page .row {
    flex-direction: column;
    height: auto;
  }
  section .container .posts-section .posts-block .post-main-page .row .row-image-wrapper {
    height: 100%;
    width: 100%;
    margin: 0 0 15px 0;
  }
  section .container .posts-section .posts-block .post-main-page .row .row-description {
    width: 100%;
    height: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
  }
  section .container .posts-section .posts-block .post-main-page .row .row-description .author {
    justify-content: space-between;
  }
  section .container .posts-section .posts-block .post-main-page .row .row-description .author .author-info {
    width: inherit;
    padding-bottom: 8px;
  }
  section .container .nav-block {
    position: static;
  }
}
@media (max-width: 1000px) {
  section {
    padding: 60px;
  }
  section .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section .container .posts-section .posts-block {
    width: 100vw;
    padding: 0 30px;
  }
  section .container .posts-section .posts-block .post-main-page {
    height: auto;
  }
  section .container .posts-section .posts-block .post-main-page .row {
    flex-direction: column;
    height: auto;
  }
  section .container .posts-section .posts-block .post-main-page .row .row-image-wrapper {
    height: 100%;
    width: 100%;
    margin: 0 0 15px 0;
  }
  section .container .posts-section .posts-block .post-main-page .row .row-description {
    width: 100%;
    height: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
  }
  section .container .posts-section .posts-block .post-main-page .row .row-description .author {
    justify-content: space-between;
  }
  section .container .posts-section .posts-block .post-main-page .row .row-description .author .author-info {
    padding-bottom: 8px;
  }
  section .container .nav-block {
    position: static;
    padding: 25px;
    justify-content: start;
    flex-direction: column;
    margin: 0 30px;
    width: calc(100% - 60px);
    border: 1px solid #EAEAEB;
    border-radius: 5px;
    box-shadow: 0 0 30px #e0e0e0;
  }
  section .container .nav-block .main_search_element {
    margin-bottom: 16px;
  }
  .widget-block {
    margin-top: 25px;
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }
  .widget-block * {
    text-align: center;
  }
  .widget-block .posts-new-ul {
    height: auto;
    width: 100%;
  }
  .widget-block .posts-new-ul li {
    height: 41px;
    border-top: 1px solid #EAEAEB;
    padding: 8px 0;
    font-size: 16px;
  }
  .widget-block .posts-new-ul li a {
    color: #03A9F4;
  }
  .widget-block-title {
    color: #525458;
    font-size: 20px;
    margin-bottom: 16px;
    letter-spacing: 2px;
  }
  .input_of_searcher, .button_of_searcher {
    border: 1px solid #EAEAEB;
    border-radius: 5px;
  }
  .search-glass {
    height: 25px;
    width: 25px;
  }
}
@media (max-width: 760px) {
  nav {
    height: 63px;
    width: 100vw;
    padding: 0 36px;
  }
  nav .logo {
    font-size: 22px !important;
  }
  nav ul {
    width: 22%;
    justify-content: space-between;
  }
  nav ul li {
    list-style: none;
    font-size: 14px;
  }
  nav ul li a {
    text-decoration: none;
    color: #FBFBFB;
    transition: all 0.2s;
  }
  nav ul li a:hover {
    color: rgba(251, 251, 251, 0.6235294118);
  }
  nav .main-menu-desktop {
    display: none;
  }
  nav .main-menu-mobile {
    display: flex !important;
  }
  nav .main-menu-mobile .menu-burger {
    user-select: none;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.137254902);
    transition: all 0.4s;
  }
  nav .main-menu-mobile .menu-burger .burger-line {
    width: 13px;
    height: 2px;
    background-color: #FBFBFB;
  }
  nav .main-menu-mobile .menu-burger .burger-line::before {
    content: "";
    top: 12px;
    position: absolute;
    width: 13px;
    height: 2px;
    background-color: #FBFBFB;
  }
  nav .main-menu-mobile .menu-burger .burger-line::after {
    content: "";
    top: 21px;
    position: absolute;
    width: 13px;
    height: 2px;
    background-color: #FBFBFB;
  }
  nav .main-menu-mobile .menu-burger:hover {
    background-color: rgba(0, 0, 0, 0.4431372549);
  }
  nav .main-menu-mobile .right-drop-down-menu {
    display: flex;
    flex-direction: column;
    top: 0;
    z-index: 10;
    right: -300px;
    width: 300px;
    height: 100vh;
    position: fixed;
    background-color: #222B34;
    transition: all 1s;
  }
  nav .main-menu-mobile .right-drop-down-menu .logo {
    height: 77px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav .main-menu-mobile .right-drop-down-menu ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  nav .main-menu-mobile .right-drop-down-menu ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 100%;
    height: 33px;
  }
  nav .main-menu-mobile .right-drop-down-menu ul li a {
    text-transform: capitalize;
    padding: 10px 0 10px 35px;
    width: 100%;
    height: 100%;
    border-bottom: 1px #353C44 solid;
  }
  nav .main-menu-mobile .right-drop-down-menu ul li a:hover {
    background-color: #353C44;
    color: #FBFBFB;
  }
  .menu-active {
    right: 0 !important;
  }
}
a {
  text-decoration: none;
  color: black;
}

main {
  position: relative;
  z-index: 0;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
}
main .close-post-btn {
  position: relative;
  min-width: 160px;
  width: 18vw;
  min-height: 100%;
}
main .close-post-btn .escape {
  min-width: inherit;
  width: inherit;
  height: 100vh;
  position: fixed;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 18px;
}
main .close-post-btn:hover {
  background-color: rgb(245, 245, 245);
}
main .right-menu-projects {
  min-width: 200px;
  width: 22vw;
  display: flex;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
}
main .right-menu-projects .post-from-postPage {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  left: 100%;
  opacity: 0.1;
  cursor: pointer;
  width: 90%;
  margin-right: 5px;
  border: 1px solid #EAEAEB;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 10px;
}
main .right-menu-projects .post-from-postPage a {
  color: #03A9F4 !important;
}
main .right-menu-projects .post-from-postPage:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px rgb(223, 223, 223);
}
main .post-main-content {
  width: 60vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #EAEAEB;
  border-top: none;
  border-bottom: none;
  padding: 20px;
  font-size: 16px;
  text-align: justify;
}
main .post-main-content img {
  width: 100%;
  margin: 5px 0;
  height: auto;
}
main .post-main-content .post-title {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #5a5a6a;
  text-align: left;
}

.notice {
  min-height: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #6b7c93;
  background-color: #e8e8e8;
  width: 100%;
  padding: 12px 0;
  margin-right: 10px;
}

.comments-block {
  margin-top: 60px;
  padding: 28px;
  background-color: #F8F8F8;
  width: 100%;
  height: auto;
}

.avatar {
  margin: 0 !important;
}

.comment-element {
  margin-bottom: 28px;
  display: flex;
  align-items: start;
  min-width: 100%;
  border-radius: 5px;
}
.comment-element .comment-avatar {
  height: auto;
  width: 65px;
  min-width: 64px;
  margin-right: 20px;
}
.comment-element .comment-avatar .avatarka-img {
  margin: 0 20px 0 0 !important;
}
.comment-element .comment-info .author-name {
  font-size: 14px;
  color: #6b7c93;
  display: flex;
}
.comment-element .comment-info .author-name * {
  margin-left: 10px;
}

#reply-title, h2 {
  margin-bottom: 16px;
  color: #3c424f;
  font-size: 21px;
  font-weight: 400;
}

figure {
  width: 100%;
}

.post-form {
  margin-top: 60px;
  padding: 28px;
  background-color: #F8F8F8;
  width: 100%;
  height: auto;
}

.comment-notes, .comment-form-cookies-consent, .moderation {
  display: block;
  margin-bottom: 28px !important;
  font-size: 14px;
  color: #6b7c93;
  text-align: left;
}

.moderation {
  margin: 10px;
  margin-right: 25px;
  margin-bottom: 10px !important;
}

label {
  color: #313439;
  font-size: 15px;
}

textarea, .data-user, .comment-form-email {
  margin-bottom: 28px;
}

textarea, input.form-post-input {
  width: 100%;
  outline-color: #03A9F4;
  border-color: #EAEAEB;
  padding: 8px;
  border-radius: 5px;
  border: solid 1px #EAEAEB;
}

textarea {
  height: 200px;
  max-height: 200px;
  resize: none !important;
}

.warning input {
  height: 13px;
  width: 13px;
  display: inline-block;
  float: left;
  margin-right: 5px;
  position: relative;
  top: 4px;
}

#submit {
  cursor: pointer;
  float: right;
  padding: 10px;
  background-color: #03A9F4;
  font-size: 10px;
  outline: none;
  border-radius: 5px;
  border: none;
  color: white;
}

.img-popup {
  display: none;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.4s;
  background-color: rgba(44, 44, 44, 0.705);
}
.img-popup .img-popup-block {
  cursor: default;
  position: relative;
  max-height: 90vh;
  max-width: 90vw;
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.img-popup .img-popup-block img {
  margin: 8px;
  max-width: calc(90vw - 8px);
  max-height: calc(90vh - 8px);
  border-radius: 5px;
}
.img-popup .img-popup-block .cross-block {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 30px;
  height: 30px;
  z-index: 10;
  cursor: pointer;
}
.img-popup .img-popup-block .cross-block::after {
  content: " ";
  z-index: 3;
  height: 30px;
  width: 2px;
  transform: rotate(45deg);
  background-color: #fff;
}

@media (max-width: 922px) {
  body {
    overflow-x: scroll;
  }
  main {
    position: relative;
    top: 50px;
    z-index: 0;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    flex-direction: column;
    display: flex;
  }
  main .close-post-btn {
    position: sticky;
    min-width: 160px;
    width: 100vw;
  }
  main .close-post-btn .escape {
    min-width: 100%;
    background-color: #EAEAEB;
    height: 50px;
    top: 0px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
  main .close-post-btn:hover {
    background-color: rgb(245, 245, 245);
  }
  main .right-menu-projects {
    display: none;
  }
  main .post-main-content {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #EAEAEB;
    border-top: none;
    border-bottom: none;
    padding: 20px;
    font-size: 16px;
    text-align: justify;
  }
  main .post-main-content .post-img {
    max-width: 100%;
    margin: 5px 0;
  }
  main .post-main-content .post-title {
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #5a5a6a;
  }
}
.error404 {
  font-size: 50px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}
.error404 .back404 {
  font-size: 14px;
  color: #03A9F4;
}

@media (max-width: 740px) {
  .error404 {
    font-size: 24px;
  }
  .error404 .back404 {
    font-size: 12px;
  }
}/*# sourceMappingURL=mainStyle.css.map */